<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MemberMapper">
	<insert id="insert">insert into member values(#{mid},#{mpwd},#{mhp},#{madr})</insert>
	<select id="findAll" resultType="vo.MemberVO">select * from member</select>
	<select id="findById" resultType="vo.MemberVO">select * from member where mid=#{mid}</select>
	<update id="updateById">update member set mpwd=#{mpwd}, mhp=#{mhp}, madr=#{madr} where mid=#{mid}</update>
	<delete id="deleteById">delete member where mid=#{mid}</delete>
</mapper>