* {
	margin: 0;
	padding: 0;
}

a>i {
	color: white;
}

h1 {
	font-weight: bolder;
}

/* nav */
.navbar {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	background-color: #263343;
	color: white;
	width: 100%;
	height: 68px;
	position: fixed;
	top: 0;
}

.navbar_menu, .navbar_icon {
	list-style-type: none;
	display: flex;
}

.navbar_icon {
	margin: 0;
	margin-right: 50px;
}

.navbar_menu>li {
	border: 1px solid tan;
	border-radius: 5px;
	margin-top: 10px;
	font-size: 20px;
	text-align: center;
	margin-right: 20px;
	padding: 5px;
}
.navbar_logo {
	margin-left: 20px;
}
.navbar_logo>i {
	font-size: 35px;
	margin: 10px;
	color: tan;
}

.navbar_icon>li {
	margin-right: 5px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 20px;
	line-height: 60px;
}

.navbar_menu>li:hover, .navbar_icon>li:hover {
	background-color: tan;
}

@media screen and (max-width: 900px) {
	.navbar_toogleBtn {
		display: block;
	}
	.navbar_menu {
		display: none;
	}
	.navbar_icon {
		display: none;
	}
}

@media screen and (min-width: 899px) {
	.navbar_toogleBtn {
		display: none;
	}
	.navbar_icon {
		visibility: visible;
	}
}

.navbar_toogleBtn {
	position: absolute;
	top: 7px;
	right: 50px;
	font-size: 30px;
}

/* main */
#middle {
	width: 100%;
	height: 1000px;
	display: flex;
	margin-top: 68px;
	white-space: nowrap;
}

#middle>main {
	width: 100%;
	background-color: bisque;
}

/* aside */
#middle>aside {
	width: 400px;
	background-color: beige;
	min-width: 200px;
}

#middle>aside>ul {
	list-style-type: none;
	text-align: center;
	line-height: 40px;
	margin-top: 10px;
	font-size: 25px;
}

#middle>aside>ul>li {
	margin: 10px;
}

/* footer */
footer {
	width: 100%;
	height: 120px;
	background-color: antiquewhite;
	padding-top: 5px;
}

footer>p {
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 15px;
	white-space: nowrap;
 	overflow: hidden;
}

/*-------------------------------------------*/
#loginform {
	text-align: center;
	margin-top: 100px;
}

#signupform {
	text-align: center;
	margin-top: 50px;
}

/* 약관 동의 */
.contract {
	margin: 50px 100px 50px 100px;
	padding: 30px 40px 50px;
	border-radius: 30px;
	background-color: rgb(167, 193, 204);
}

.contract h1 {
	text-align: center;
}

.contract .text {
	height: 230px;
	border: 1px solid black;
	background-color: white;
	white-space: pre-line;
	overflow-y: scroll;
	margin: 0 auto 20px;
}

.contract p {
	text-align: right;
}

.contract .box {
	width: 100px;
	height: 40px;
	padding: 8px;
	margin: 0 3px;
}

/* memberValidate.html */
#signup {
	text-align: center;
}
#signup>ul {
	list-style-type: none;
}

#signup>ul>li {
	margin: 10px;
}

#welcome {
	text-align: center;
}

#chat {
	text-align: center;
	margin: 0 auto;
	width: 300px;
	height: 500px;
}

#chat > input[type=text] {
	width: 70%;
}

#chat > input[type=button] {
	width: 30%;
}

#chatbox {
	width: 300px;
	height: 500px;
	margin: 50px auto 0 auto;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	text-align: left;
}